*{
     margin: 0px;
     padding: 0px;
     background: gray;
     /* opacity: 1; */
     /* filter: brightness(80%) */
     
}
header{
     display: flex;
     margin-left: 20px;
     margin-top: 12px;    
}
header img{
     animation-name: moveHeader;
     /* animation-timing-function: 5s; */
     animation-duration: 8s;
     
     animation-iteration-count: infinite;
     
}
@keyframes moveHeader{
0%{width: 2em;}
50%{width: 2.5em; }
75%{width: 3em}
100%{width: 3.5em}

}
.connection{
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     height: 100vh;

}
.connection section{
     margin: 10px;
}
.connection section:nth-child(2){
     font-size: 1.2em;
     color: #ffffff
}
ul li{
     list-style: none;
     font-size: 19px;
     color:rgb(8, 188, 233)

}

.connection :nth-child(4){
   margin-top: 20px
}
header h5{
     font-size: 1.5em;
     color: wheat
}
section img{
     flex-wrap: wrap;
}
span{
     color: rgb(96, 240, 0)
}

 button{
     padding: 10px;
     width:15%;

     background-color: rgb(8, 126, 110);
     cursor: pointer;
     border: none;
     color: #ffffff;
     border-radius: 9px;
}