.row{
    display: flex;
    flex-direction: column;
}
nav img{
     width: auto;
     height: 100px;
}

.colImg{
     text-align: center
}
nav span{
     color: yellow;
}
nav a{
    float: right;
     margin: 9px;
     padding: 12px;
     background: crimson;
     text-decoration: none;
     color: white;
    

}
.mobile{
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: center;
     height: 100vh;
     margin-left: 4em;
}
.col{
     margin-top: 10px;
    
     
}
nav a:hover{
    /* transform: rotateY(180deg); */
    /* text-transform: lowercase; */
    width: 10em;
}
#col-row{
     margin-top: 10px;  
     padding: 0.5rem;   
}
.colImg img{
     transform: translate(70px , 20px);
     /* transform: rotate(20deg) */
     height: 12em;
}

div a{
     padding: 12px;
     background-color: orangered;
     text-decoration: none;
    color: #ffffff;
    font-size:1.2rem
}
div:nth-child(3){
     padding-top: 12px;
}
@media screen and (min-width:639px){
     .row{
          display: flex;
          flex-direction: row-reverse;
     }
     .colImg{
          margin-right: 8em;
         
     }
     

} 
@media screen and (max-width:595px){
     nav a{
         display: block;
     }
     .colImg{
          margin-top: 12px;
       
     }
     .col-row{
          margin-top: 10px;
     }
}
