
body{
background-color: darkcyan;
}
#clockdate {
     margin: auto;
     cursor: pointer;
     background: #333;
     border-radius: 20px;
     width:400px;
     height: 175px;
}
#wripper-clockdate{
     padding: 18px;
     text-align: center;
     margin-top: 15px;
     border-radius: 15px;
     border-left: 10px solid green;
     border-top: 10px solid rgb(42, 11, 182);
     border-bottom: 10px solid rgb(128, 0, 70);
     border-right: 10px solid rgb(128, 0, 70);
     
}
#clock-large{
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     font-size: 30px;
     height: 128px;
     color: #fff;
     text-align: center; 
}
section {
     width: 150px;
     height: 3px;
     background-color: darkgoldenrod;
     padding: 30PX;

}
section a{
     font-size: 20px;
     color: #ffff;
     text-decoration: none;


}

